{% extends 'base.html' %}
{% block title %}Вхід{% endblock %}
{% load form_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow-sm p-4 bg-light">
            <h2 class="text-center mb-4">Вхід</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">{{ form.username|add_class:"form-control" }}</div>
                <div class="mb-3">{{ form.password|add_class:"form-control" }}</div>
                <button type="submit" class="btn btn-success w-100">Увійти</button>
            </form>
            <p class="text-center mt-3">
                Не маєте акаунту? <a href="{% url 'register' %}">Зареєструватись</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
